@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-y: initial;
  }

  h1 {
    hyphens: auto;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: none;
  }
}
